page-home {
    ion-content {
        background-color: red !important;
    }

.passwordIp{
    margin: 16%;
    color: white;
    font-weight: bold;
    margin-top: -6px;
}

.testA{
    background-color: black;

}

.testB{
    background-color: beige;
}

.homeBtn{
    margin-top: 0px;
}

.ipRow{
    height: 38px;
    background-color: black;
    width: 75%;
    margin-left: 12%;
    margin-top: 156px;
}

.ipText{
    margin-top: 1px;
}

.rowcls1{
    background-color: black;
    margin-top: 242px;
    height: 40px;
    margin-bottom: 381px;
}

.rowcls2{
    background-color: black;
    margin-top: 383px;
    height: 40px;
}

// .ipbox{
//      margin-top: 50%;   
// }
}
